@font-face {
  font-family: "Libre-B";
  font-weight: 50;
  src: url("../assets/fonts/LibreBaskerville-Bold.woff") format("woff");
}

@font-face {
  font-family: "Libre-R";
  src: url("../assets/fonts/LibreBaskerville-Regular.woff") format("woff");
}

@font-face {
  font-family: "hopang-B";
  font-weight: 50;
  src: url("../assets/fonts/SDSamliphopangcheBasic.woff2") format("woff2");
}

@font-face {
  font-family: "hopang-B";
  font-weight: 50;
  src: url("../assets/fonts/SDSamliphopangcheBasic.eot") format("eot");
}

@font-face {
  font-family: "hopang-O";
  src: url("../assets/fonts/SDSamliphopangcheOutline.woff2") format("woff");
}


@font-face {
  font-family: "hopang-O";
  src: url("../assets/fonts/SDSamliphopangcheOutline.eot") format("eot");
}

@import url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap);

a{
  text-decoration: none;
}


html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  body{
    scroll-behavior: smooth;
    font-family: Montserrat,Pretendard,-apple-system,Apple SD Gothic Neo,맑은 고딕,Malgun Gothic,sans-serif;
    background-color: #fffbf1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: url('../assets/images/main_bg.jpg') no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    .header{
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 80px;
      display: flex;
      flex-direction: row;
      z-index: 99;
      .logo_box{
        position: relative;
      }
      .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        margin: 0px 40px;
        height: 100%;
        z-index: 999;
        font-size: 60px;
        color: #fff;
        font-weight: 900;
        letter-spacing: -1px;
      }
      .menu{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        margin-right: 40px;
        a{
          color: #fff;
          font-size: 20px;
          font-weight: 500;
          padding: 10px 20px;
          align-items: center;
          justify-content: center;
          &.click{
            border-bottom: 1px solid #fff;
          }
        }
      }
    }
    main{
      .section01{
        width: 100%;
        display: flex;
        height: 100vh;
        position: relative;
        align-items: center;
        justify-content: center;
        .black-box{
          position: absolute;
          background-color: #000;
          opacity: .5;
          width: 100%;
          height: 100%;
        }
        .main-box{
          display: flex;
          flex-direction: column;
          position: absolute;
          z-index: 2;
          h1 {
            font-size: 100px;
            font-weight: 900;
            line-height: 85px;
            margin: 0;
            color: #fff;
          }

          .main-sub {
            font-size: 30px;
            font-weight: 700;
            margin-left: 5px;
            margin-top: 10px;
            color: #fff;
          }
        }
          .scrollDown{
            position: absolute;
            animation-name: bounce;
            animation-duration: 0.5s;
            animation-direction: alternate;
            animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
            animation-iteration-count: infinite;
            font-size: 12px;
            color: #fff;
            bottom: 60px;
          }
      }
      .section02{
        background-color: #fffbf1;
        min-height: 100vh;
        overflow: hidden;
      }
    }
  }
}

@keyframes bounce {
  from {
    transform: translateY(0) scale(1);
  }

  to {
    transform: translateY(20px) scale(1, 0.7);
  }
}

@keyframes Main-module--scroll--71f48 {
  to {
    background-position: -100% calc(5.55556vh + 1.04167vw + 15rem)
  }
}

.Main-module--nanana--d8c70 {
  animation: Main-module--scroll--71f48 30s linear infinite;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='none' viewBox='0 0 725 450'%3E%3Cdefs%3E%3Cpath id='reuse-0' d='M211.133 62.194c28.707 0 52.552 8.566 71.536 25.698 19.446 17.131 29.401 38.893 29.864 65.284v227.108h-97.232V189.291c-1.39-29.632-16.206-44.449-44.45-44.449-22.224 0-40.05 10.418-53.477 31.253-13.428 20.836-20.141 47.691-20.141 80.565v123.624H0V76.779h88.204l6.945 48.617c11.112-19.91 26.392-35.42 45.838-46.533 19.91-11.112 43.292-16.669 70.146-16.669ZM690.741 76.78v303.504h-97.233V342.78c-29.169 30.559-62.969 45.838-101.399 45.838-44.912 0-81.49-13.427-109.734-40.282-27.781-26.855-41.671-66.674-41.671-119.457 0-33.337 6.714-62.507 20.141-87.509 13.89-25.466 32.179-45.144 54.867-59.035C438.4 68.445 462.708 61.5 488.636 61.5c26.855 0 48.154 4.167 63.896 12.501 15.742 7.871 29.633 19.215 41.671 34.032l6.251-31.254h90.287ZM519.89 309.442c33.799 0 58.339-15.28 73.618-45.838V189.29c-5.556-14.816-15.279-26.623-29.169-35.42-13.428-8.797-29.402-13.196-47.922-13.196-21.299 0-39.588 7.871-54.867 23.614-14.816 15.742-22.225 35.652-22.225 59.728 0 15.743 3.705 30.327 11.113 43.755 7.408 12.964 17.131 23.15 29.17 30.559 12.501 7.408 25.928 11.112 40.282 11.112Z'/%3E%3C/defs%3E%3Cg fill='%23C2C2C2' opacity='.1'%3E%3Cuse xlink:href='%23reuse-0'/%3E%3Cuse xlink:href='%23reuse-0'/%3E%3C/g%3E%3C/svg%3E");
  background-position: 100% calc(5.55556vh + 1.04167vw + 15rem);
  background-repeat: repeat-x;
  background-size: 25% auto;
  height: 100vh;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  z-index: 1
}