@font-face {
    font-family: "Libre-B";
    font-weight: 50;
    src: url("./assets/fonts/LibreBaskerville-Bold.woff") format("woff");
  }
  
  @font-face {
    font-family: "Libre-R";
    src: url("./assets/fonts/LibreBaskerville-Regular.woff") format("woff");
  }


  *{
    font-family: 'Libre-B';
  }